# This workflow will run tests using node and then publish a package to GitHub Container Registry and Docker Hub Regitry when a pushed into main branches
# This file was contributed by EdwinBetanc0urt@outlook.com from ERP Consultores y Asociados, C.A

name: Continuous Integration

on:
  # Triggers the workflow on push events but only for the develop branch
  push:
    branches:
      - main
      - master
      - develop
      - test**
      - experimental

jobs:

  # Build distribution files
  build-app:
    name: Build dist
    runs-on: ubuntu-latest
    env:
      BASE_REPOSITORY: ${{ github.event.repository.name }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Node configuration
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'yarn'

      - name: Install packages
        run: yarn ci

      - name: Compile dist
        run: yarn docs:build

      - name: Upload dist app
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs/.vuepress/dist
